<div style="padding-left: 45px; padding-right: 45px;" class="row mt-3">
  <div class="col-sm-6 col-md-4 bg-light text-white text-center" style="height:300px">
    <br>
    <div class="text-white"><h3>Contact Info <i class="fas fa-id-card"></i></h3></div>
    <hr>
    <p><i class="fa fa-map-marker" style="width:30px"></i> Tunisia</p>
    <p><i class="fa fa-phone" style="width:30px"></i> Phone: +00 000000</p>
    <p><i class="fa fa-envelope" style="width:30px"> </i> Email: terra.tnp@gmail.com</p>


  </div>
  <div class="col-sm-6 col-md-4 bg-light text-white text-center" style="height:300px">
   <br>
    <h3>Share <i class="fas fa-lightbulb"></i> </h3> 
    <hr>
    <p>If you have an idea.</p>
    <p>What are you waiting for?</p>
  </div>
  <div class="col-sm-6 col-md-4 bg-light text-white text-center" style="height:300px">
   <br>
    <h3>Like Us <i class="fas fa-heart"></i> </h3>
    <hr>
    <i class="w3-xlarge fa fa-facebook-official "></i><a href="facebook.com">facebook</a>
    <br>
    <i class="w3-xlarge fa fa-twitter" ></i><a href="twitter.com">twitter</a>
    <br>
    <i class="w3-xlarge fa fa-instagram" ></i><a href="instagram.com">instagram</a>

  </div>
</div>